
#content{
    width: 100vw;
}
#homebanner{
    width: auto;
    height: 200;
}
/* NAVBAR Styling */
#navbar-links{
    text-align: center;
    width:76vw;
}
#navbar-links li{
    padding-left: 9vw;
}

.white-text{
    color: #ffffff !important;
}